﻿<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<title>MediaSwap - @ViewBag.Title</title>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<link href="@Url.Content("~/bootstrap/css/bootstrap.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/bootstrap/css/bootstrap-responsive.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Scripts/MicrosoftAjax.js")" type="text/javascript"></script>
@*<script src="/TwoConsentService.svc/js" type="text/javascript"></script>*@
<script src="@Url.Content("~/bootstrap/js/bootstrap.js")" type="text/javascript"></script>
<style type="text/css">
	body { background: #eee; font-family: Arial; font-size: 10pt; }
	#main { background: #fff; padding: 1em; margin: 1em auto; }
    .span12 > img:first-child { margin: 1em 0; }
    #main > div:first-child > div.span12 { border-bottom: 10px solid #747484;margin-bottom: 1em; }
</style>
@RenderSection("head", false)
</head>

<body>
	<div class="container" id="main">
		@if (IsSectionDefined("margin"))
		{
			<div class="row" style="overflow: hidden;">
				<div class="span12">
					<img src="~/upload/header.png" alt="MediaSwap" />
				</div>
			</div>
			
			<div class="row">
				<div class="span8">
					<div class="pad" style="padding-top: 0;">
						@RenderBody()
					</div>
				</div>
				<div class="span4 margin col">
					<div class="pad" style="padding-top: 0;">@RenderSection("margin")</div>
				</div>
			</div>
			
			<div class="row" id="footer">
				<div class="span9">
					<div class="pad">
						&copy; 2013 MediaSwap LLC (pending) and others, All Rights Reserved.
					</div>
				</div>
				<div class="span3 margin">
				</div>
			</div>
		}
		else
		{
			<div class="row">
				<div class="span12">
						<img src="@Url.Content("~/upload/header.png")" alt="MediaSwap" />
				</div>
			</div>
			<div class="row">
				<div class="span12">
						@RenderBody()
				</div>
			</div>
			<div class="row" id="footer">
				<div class="span12">
					<div class="pad">
						&copy; 2013 MediaSwap LLC (pending) and others, All Rights Reserved.
					</div>
				</div>
			</div>
		}
	</div>
</body>
</html>
