﻿@model MediaSwap.Models.ProductModel
@using (Html.BeginForm())
{
	<h2>Add Something</h2>
	<div class="control-group">
		<label class="control-label">
			Item name or UPC code:
		</label>
	</div>
}