﻿@model MediaSwap.Models.UserModel
@{
    ViewBag.Title = "MediaSwap";
}

<div class="container-fluid">
    <div class="row-fluid">
        <div class="span8">
			<div class="hero-unit">
				<h2>It's a very sad day, indeed.</h2>
				<p>
					We're introducing MediaSwap, a company with the goal of becoming a sustainable <strong>not-for-profit organization</strong> 
					designed to connect people with others and schools. And to that end, we're working on making even the site itself <b>open 
                        source</b> to ensure the site's continued longevity.
				</p>
			</div>
            
			<h2>Site progress</h2>

			<p>We're hard at work implementing Milestone 1. When we reach this milestone, we will have the ability for members to <b>sign in</b> and
				<b>list their 'haves' and 'wants.'</b> This milestone will open when enough people have pre-registered on this web page. Registrants
				will be notified when this milestone is available. 
			</p>
			<div class="alert alert-info">
				<b>@ViewBag.MembersNeeded more</b> new sign-ups are needed to reach Milestone 1.
			</div>
            
			<p>The next milestone will occur when 1,000 users sign up and list their wants and haves. At this point, we'll enable <b>pairing</b> of users
				with wants and haves, and we'll connect those users with an on-site messaging system. Hopefully the time it takes for us to accumulate this
                level of user involvement will be sufficient for us to finish developing the preliminary matching and messaging features. 
			</p>
            
			<h2>What will it cost?</h2>
			<p>Members will be responsible for the cost of shipping trades to each other. There will be an optional identity verification 
				service provided at a small fee. We'll also ask for donations to cover the site's operating costs. We will also attempt to
				derive revenue from advertisements and Amazon.com affiliate links.
			</p>
            
			<h2>No points here.</h2>
			<p>All trades are 1-1. In the future, we'll introduce more complex trades, such as multi-party trades, to ensure that we maximize
                the number of happy customers!</p>

			<ul class="nav nav-tabs">
                <li class="active"><a href="#swappers" data-toggle="tab">How it works for Swappers</a></li>
                <li><a href="#schools" data-toggle="tab">How it works for Schools</a></li>
            </ul>
            <div id="myTabContent" class="tab-content">
                <div class="tab-pane fade in active" id="swappers">

                    <h2 style="text-align: center;">How it works for Swappers    </h2>
                    <p style="text-align: center;">
                        <img src="~/upload/how-it-works.png" width="565" height="522" alt="How it Works for Swappers" />
                    </p>
                </div>
                <div class="tab-pane fade" id="schools">
                    <h2 style="text-align: center;">How it works for Schools    </h2>
                    <p style="text-align: center;">Coming soon!</p>
                </div>
            </div>

        </div>
        <div class="span4">
            <h2>We're not quite ready yet</h2>
			<p>
				But if you give us your e-mail address, you'll be the first to know when we're ready for business. 
				Don't worry, we won't sell or give away your contact information to anyone, ever!
			</p>
			<p style="font-weight: bold;">All fields are required.</p>
            @if (ViewBag.EmailExists != null && ViewBag.EmailExists)
			{
				<div class="alert alert-error">Someone has already signed up with that e-mail address.</div>
			}
            @using (Html.BeginForm())
            {
                <div class="control-group @(Model != null && String.IsNullOrEmpty(Model.Firstname) ? "error" : "")">
                    <label>First name: @Html.TextBoxFor(a => a.Firstname)</label>
                </div>
                <div class="control-group @(Model != null && String.IsNullOrEmpty(Model.Lastname) ? "error" : "")">
                    <label>Last name: @Html.TextBoxFor(a => a.Lastname)</label>
                </div>
                <div class="control-group @(Model != null && String.IsNullOrEmpty(Model.Email) || ViewBag.EmailExists ? "error" : "")">
                    <label>E-mail address: @Html.TextBoxFor(a => a.Email)</label>
                </div>
                <div class="control-group @(Model != null && String.IsNullOrEmpty(Model.PasswordEntry1) ? "error" : "")">
                    <label>Password: @Html.PasswordFor(a => a.PasswordEntry1)</label>
                </div>
				<div class="control-group @(Model != null && ViewBag.PasswordNoMatch ? "error" : "")">
					<label>Confirm Password: @Html.PasswordFor(a => a.PasswordEntry2)</label>
				</div>
                
                <p class="help-inline">Passwords are salted with a unique per-user salt and hashed with SHA256.</p>
                
                <h3>We need your help!</h3>
                
                <p>
                    We're not a funded startup, so we can't afford to hire developers. Luckily, there are highly skilled software enigeers
						willing to build this site upfront. However, we could use help! Let us know if you're interested to help in
                        any of the following areas:
                </p>

                <label class="checkbox ">
					@Html.CheckBoxFor(f => f.DesignOffer)
                    Design/User Experience
                </label>
                <label class="checkbox ">
                    @Html.CheckBoxFor(f => f.DevOffer)
                    Programming/Testing
                </label>
                <label class="checkbox ">
                    @Html.CheckBoxFor(f => f.BizOffer)
                    Marketing/Business/Data Sourcing
                </label>
                <label class="checkbox ">
                    @Html.CheckBoxFor(f => f.EmailOptin)
                    Just let me know when it's ready!
                </label>
                <p>
                    <button type="submit" class="btn btn-primary btn-large">Sign up</button>
                </p>
            }
        </div>
    </div>
</div>



